@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #fae8eb;
}
/* #screenTitle {
  display: none;
} */
#game {
  display: flex;
  justify-content: space-between;
}
#ground {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(17, 50px);
  grid-template-rows: repeat(12, 50px);
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}
.case {
  background-image: url("../assets/img/texture1/grass.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
